body {
    font-family: 'Noto Sans KR', sans-serif;
    padding-right: 0 !important;
}

.container {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

/*  header */
.header-top {
    height: 100px;
    position: relative;
}

.logo {
    width: 260px;
    height: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999
}

.logo>img {
    width: 100%;
    height: 100%;
}

.rightGnb {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999
}

.rightGnb a {
    display: block;
    width: 26px;
    height: 26px;
}

.rightGnb a>img {
    width: 100%;
    height: 100%;
}

.header-bottom-menu-sub>li {
    float: left;
    width: 18%;
}

.header-bottom-menu-sub-in>li>a {
    line-height: 3.5;
    color: black;
    text-decoration: none;
}

.header-bottom-menu-sub-in>li:hover>a {
    text-decoration: underline;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-sub-title {
    font-size: 16px;
}


/* container */
.visual-01 {
    cursor: pointer
}

.visual-content-01 {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
}

.visual-content-02 {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}

.visual-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.visual-sTitle {
    display: block;
}

.view {
    display: inline-block;
    width: 185px;
    height: 50px;
    line-height: 47px;
    margin-top: 40px;
    color: white;
    border: 1px solid white;
    box-sizing: border-box;
    transition: 1s;
}

/* .view:hover { border-color: white; background-color: white; color: black; } */

.new-product {
    margin-top: 50px;
    padding-top: 55px;
    height: 960px;
}

.new-product-main {
    height: 765px;
    margin-left: 30px;
    color: #fff;
    background: #000;
    box-sizing: border-box;
    border: 1px solid #000;
}

.new-product-main>div {
    display: none;
}

.new-product-main>div.active {
    display: block;
}

.new-product-title {
    font-size: 36px;
    padding: 60px 0 45px;
}

.new-product-ex {
    font-size: 18px;
    margin-bottom: 60px;
}

.new-product-ex-02 {
    margin-top: 20px;
}

.new-product-03 .new-product-ex-02 {
    margin-top: -5px;
}

.new-product-03-content01,
.new-product-03-content02 {
    top: 41%;
}

.position {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.new-product-01-content02,
.new-product-03-content02 {
    display: none;
}

.new-product-sub {
    margin-left: 33px;
}

.new-product-sub>div {
    height: 235px;
    padding-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
}

.new-product-sub>div p {
    color: black;
}

.new-product-sub>div.active {
    border-color: black;
    color: #fff;
    background: #000;
}

.new-product-sub>div.active p {
    color: #fff;
}

.new-product-sub>div.active:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -50px;
    width: 292.5px;
    height: 235px;
    background: #000;
}

.position:hover .new-view {
    opacity: 1;
}

.new-view {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s;
    cursor: pointer;
}

.toggle-controls {
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    text-indent: -9999px;
}

.toggle-controls>ul>li {
    width: 10px;
    height: 10px;
    margin: 13px auto;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 1px solid #fff;
}

.toggle-controls>ul>li.active {
    width: 15px;
    height: 15px;
    background: #fff;
}

.toggle-controls>ul a {
    display: block;
}


.best-sellerWrap {
    position: relative;
    margin-top: 100px;
    padding-bottom: 55px;
}

.best-sellerWrap .carousel {
    position: static;
}

.best-sellerWrap .carousel-indicators li {
    border: 1px solid black;
}

.best-sellerWrap .carousel-indicators {
    bottom: 0% !important;
}

.best-sellerWrap .carousel-indicators .active {
    background-color: black;
}

.best-sellerWrap p {
    height: 60px;
}

.best-sellerWrap a {
    color: black;
}

.title {
    margin-bottom: 60px;
}

.Price {
    display: block;
    margin-bottom: 10px;
}

.buy {
    display: inline-block;
    cursor: pointer;
}

.buy:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background-color: #ddd;
    transition: 0.5s;
}

.buy:hover:after {
    background-color: black;
}


.modal-body>div:nth-child(1) {
    height: 100%;
    overflow: hidden;
}

.modal-body>div:nth-child(2) {
    height: 100%;
    padding-top: 30px;
    text-align: left;
}

.modal-body>div p {
    margin-top: 20px;
}

.modal-body .modal-best-01 {
    position: absolute;
    top: -40px;
    left: 0;
    transform: translateX(-25%) scale(0.7)
}

.modal-view {
    color: #ddd;
    transition: .5s;
    cursor: pointer;
}

.modal-view:hover {
    color: black
}

.modal-add {
    width: 17%;
    float: left;
    margin-top: 40px;
}

.modal-cart {
    width: 77%;
    height: 40px;
    line-height: 40px;
    float: left;
    margin: 40px 0 0 10px;
    text-align: center;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-weight: 100;
    transition: 1s;
    cursor: pointer;
}

.decline,
.increase,
.amount {
    cursor: pointer
}

.beauty {
    margin-top: 100px;
    position: relative;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.beauty div>div {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    text-align: center;
}

.beauty div>h3 {
    font-size: 18px;
}

.beauty div span {
    display: block;
    font-size: 36px;
}

.beauty div a {
    display: block;
    margin-top: 20px;
    color: #333;
}


.promotion {
    margin-top: 100px;
    overflow: hidden;
}

.pro-slide {
    width: 16.5%;
    height: 600px;
    float: left;
    overflow: hidden;
    position: relative;
}

.pro-slide:nth-of-type(2) {
    width: 66%;
}

.pro-slide:nth-of-type(2)>.bg {
    display: none;
}

.pro-slide:nth-of-type(2)>.pro-content>div {
    display: block;
}

.pro-content {
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

.pro-content>div {
    width: 100%;
    position: absolute;
    top: 80px;
    display: none;
}

.pro-content a {
    position: absolute;
    top: 200px;
}

.pro-content-01 {
    background-image: url(../images/promotion_01.jpg);
}

.pro-content-02 {
    background-image: url(../images/promotion_02.jpg);
}

.pro-content-03 {
    background-image: url(../images/promotion_03.jpg);
}

.pro-content-01>div {
    left: 50px;
    color: white;
}

.pro-content-02>div {
    color: white;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.pro-content-03>div {
    text-align: right;
    right: 50px;
}

.pro-content-02 a {
    left: 50%;
    transform: translateX(-50%);
}

.pro-content-03 a {
    right: 0;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.bg>span {
    transition: 0.5s;
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px solid #e18060;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    color: #e18060;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg:hover>span {
    background-color: #e18060;
    color: white;
}

.xsTitle {
    font-size: 16px;
}

.sTitle {
    font-size: 18px;
}

.bTitle {
    font-size: 36px;
}

.pro-view {
    display: block;
    width: 185px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    border: 1px solid white;
    box-sizing: border-box;
    transition: 0.5s;
}

.pro-view:hover {
    color: black;
    background-color: white;
    font-weight: bold;
}

.pro-content-03 .pro-view {
    color: black;
    border-color: black;
}

.pro-content-03 .pro-view:hover {
    border-color: white;
}


footer {
    margin-top: 80px;
    background-color: black;
    height: 550px;
    padding: 100px 0 !important;
    color: white;
}

footer a {
    color: white;
}

.footer-logo {
    position: relative;
}

.footer-logo:after {
    content: '';
    display: inline-block;
    width: 85%;
    height: 2px;
    position: absolute;
    left: 180px;
    top: 40%;
    transform: translateY(-50%);
    background-color: white;
}

.footer-logo>a {
    display: inline-block;
    width: 175px;
    height: 43px;
}

.footer-logo>a>img {
    width: 100%;
    height: 100%;
}

.footer-info,
.footer-bottom {
    margin-top: 20px !important
}

.footer-bottom {
    position: relative;
}

.footer-bottom>address>p {
    font-size: 12px;
    line-height: 2;
}

.social {
    position: absolute;
    right: 0;
    bottom: -50px;
}

.social>li>a {
    display: block;
    width: 36px;
    height: 36px;
}

.social>li>a>img {
    width: 100%;
    height: 100%;
}

.fixed {
    display: none;
}

.fixed-top>a {
    display: none;
    color: #fff;
    font-size: 11px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 2000;
}


@media screen and (max-width: 1340px) {
    .visual-title {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1040px) {
    .visual-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .view {
        display: inline-block;
        width: 185px;
        height: 50px;
        line-height: 45px;
        margin-top: 20px;
        border: 1px solid white;
        box-sizing: border-box;
    }

    .fixed-top {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    body {
        font-size: 12px;
    }

    .container {
        width: 95%;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
    }

    .header-top {
        height: 0;
    }

    .logo {
        position: absolute;
        width: 130px;
        height: 40px;
        top: 26px;
    }

    .rightGnb {
        top: 26px;
    }

    .rightGnb>li {
        margin: 0 !important;
    }

    .rightGnb a {
        width: 20px;
        height: 20px;
    }

    .list-inline>li {
        padding: 0;
        margin-right: 5px;
        font-size: 12px;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }

    .dropdown-menu {
        padding: 0;
        min-height: auto;
        height: auto;
    }

    .header-bottom-menu-sub-in>li>a {
        font-size: 12px;
        line-height: 20px;
        color: #777;
        padding: 0;
    }

    .dropdown-sub-title {
        font-size: 12px;
    }

    .navbar-collapse {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 9999;
    }

    .header-bottom-menu-sub>li {
        float: none;
        width: 100%;
        margin: 10px 0;
    }

    .header-bottom-menu-sub-in {
        display: none;
    }

    .visual-content-01 {
        position: absolute;
        top: 55%;
        right: 15%;
    }

    .visual-content-02 {
        position: absolute;
        top: 55%;
        left: 15%;
    }

    .visual-title {
        font-size: 18px;
        margin-bottom: 2vw;
    }

    .view {
        display: inline-block;
        width: 100px;
        height: 4vw;
        line-height: 4vw;
        margin-top: 10px;
        border: none;
    }

    .new-product {
        height: 65vw;
        padding: 0;
        margin-top: 4vw;
    }

    .title {
        font-size: 18px;
        margin-bottom: 3vw;
    }

    .new-product-title {
        font-size: 14px;
        padding: 2vw 0;
    }

    .new-product-ex {
        font-size: 12px;
        margin-bottom: 3vw;
    }

    .new-product-ex-02 {
        margin-top: 2vw;
    }

    .new-product-main {
        height: 57vw;
        margin: 0;
        background: linear-gradient(to bottom, #000000, #333333);
    }

    .new-product-03-content01,
    .new-product-03-content02 {
        top: 28%;
    }

    .new-product-03 .new-product-ex-02 {
        margin-top: -1vw;
    }

    .position img:nth-of-type(1) {
        width: 30vw;
    }

    .position img:nth-of-type(2) {
        width: 7vw;
    }

    .position:first-child img:nth-of-type(2) {
        width: 16.2vw;
    }

    .best-sellerWrap {
        margin-top: 6vw;
    }

    #best-seller img {
        width: 30vw;
    }

    #best-seller p {
        margin: 0;
    }

    .Price {
        margin-bottom: 5px;
    }

    .beauty {
        margin-top: 30px;
    }

    .beauty div>h3 {
        font-size: 12px;
    }

    .beauty div span {
        font-size: 14px;
    }

    .beauty div a {
        margin-top: 2vw;
    }

    .promotion {
        margin-top: 30px;
    }

    .pro-content {
        background-size: cover;
        display: flex;
        align-items: center;
    }

    .pro-content>div {
        position: static;
        transform: none;
    }

    .pro-content a {
        display: inline-flex;
        margin-top: 10%;
        position: static;
        transform: none;
    }

    .pro-content-01>div {
        padding-left: 5vw
    }

    .pro-content-03>div {
        padding-right: 5vw;
    }

    .new-view {
        left: 50%;
    }

    .pro-slide {
        height: 50vw;
    }

    .sTitle {
        font-size: 14px;
    }

    .bTitle {
        font-size: 16px;
        margin: 5px 0;
    }

    .xsTitle {
        font-size: 11px;
    }

    .pro-view {
        width: 90px;
        height: 30px;
        line-height: 28px;
    }

    span {
        font-size: 11px;
    }

    .bg>span {
        width: 35px;
        height: 35px;
        line-height: 32px;
        font-size: 11px;
    }

    footer {
        margin-top: 12vw;
        padding: 10px 0 !important;
        height: 450px;
    }

    .footer-logo>a {
        width: 120px;
        height: 27px;
    }

    .footer-logo:after {
        display: none;
    }

    .footer-bottom>address>p {
        font-size: 11px;
        line-height: 1.5;
    }

    address span {
        font-size: 12px;
    }

    address,
    .copyRight {
        font-size: 11px;
    }

    .social>li>a {
        width: 24px;
        height: 24px;
    }

    .fixed {
        display: block;
        position: fixed;
        bottom: 0;
        z-index: 9999;
        width: 100%;
        height: 50px;
        background-color: #ddd;
    }

    .fixed>ul {
        display: flex;
        justify-content: space-around;
        align-content: center
    }

    .fixed>ul>li {
        text-align: center;
        margin-top: 7px;
    }

    .fixed>ul a {
        display: block;
    }

    .fixed>ul img {
        width: 20px;
        height: 20px;
    }

    .fixed>ul span {
        display: block;
        color: black;
        margin-top: 2px;
    }

}

@media screen and (max-width: 480px) {
    .logo {
        width: 110px;
        height: 34px;
    }

    .visual-content-01 {
        right: 4%;
    }

    .visual-content-02 {
        left: 4%;
    }

    .view {
        width: auto;
        margin: 0;
        margin-top: 3vw;
    }

    .new-product {
        height: 70vw;
    }

    .new-product-main {
        height: 60vw;
    }

    .new-product-title {
        padding: 2vw;
    }

    .new-product-ex {
        margin-bottom: 1vw;
    }

    .new-product-03 .new-product-ex-02 {
        margin-top: 2vw;
    }

    .position img:nth-of-type(1) {
        width: 25vw;
    }

    .position:first-child img:nth-of-type(2) {
        width: 14.2vw;
    }
}

@media screen and (max-width: 380px) {
    .visual-title {
        font-size: 16px;
        margin-bottom: 0;
    }

    .visual-content-01,
    .visual-content-02 {
        top: 45%;
    }

    .new-product {
        height: 68vw;
    }

    .new-product-main {
        height: 60vw;
    }

    .new-product-title {
        font-size: 12px;
    }

    .new-product-ex,
    .new-product-ex-02 {
        font-size: 11px;
    }

    .best-sellerWrap p {
        height: 50px;
    }


}